<div class="header">
    <span>Administrator</span>
</div>
<div class="content">
    <form class="manager_form" method="">
        <p>
            <label class="manager_lb">Per meal cost: </label>
            <input class="cost" type="text" placeholder="25.000" value={{costs}}><label>VND</label>
        </p>
        <p>
            <label class="manager_lb">Last time register meal: </label>
            <input class="hour" type="text" placeholder="{{lastHour}}">
             <select>
                <option>PM</option>
                <option>AM</option>
            </select>
        </p>
        <p>
            <a class="btn-black btn-manager">Submit</a>
        </p>
    </form>
</div>
