<div class="header">
    <span>Administrator</span>
</div>
<div class="content">
    <form class="manager_form" method="" action="/manager">
        <p>
            <label class="manager_lb">Per meal cost: </label>
            <input class="" type="text" placeholder="25.000"><label>VND</label>
        </p>
        <p>
            <label class="manager_lb">Last time register meal: </label>
            <input class="" type="text" placeholder="5">
             <select>
                <option>PM</option>
                <option>AM</option>
            </select>
        </p>
        <p>
            <input class="btn-black" type="submit" value="Submit">
        </p>
    </form>
</div>
