<div class="header">
    <span>View Menu</span>
</div>
<div class="content">
    <ul class="searchForm">
        <li class="find-from">
            <p>From: <input class="datepicker" type="text"
                            placeholder="11/11/2013"></p>
        </li>
        <li class="find-to">
            <p>To: <input class="datepicker" type="text"
                          placeholder="19/11/2013"></p>
        </li>
    </ul>
    <div class="groupBtn">
        <a href="#" class="btn-black">Search</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Date(dd/mm/yy)</th>
            <th>Brunch</th>
            <th>Dish1</th>
            <th>Dish2</th>
            <th>Dish3</th>
            <th>Dish4</th>
            <th>Dish5</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {{#each models}}
        <tr>
            <td></td>
            <td>{{attributes.date}}</td>
            <td>{{attributes.brunch}}</td>
            <td>{{attributes.dish1}}</td>
            <td>{{attributes.dish2}}</td>
            <td>{{attributes.dish3}}</td>
            <td>{{attributes.dish4}}</td>
            <td>{{attributes.dish5}}</td>
            <td>{{attributes.note}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class="sg-menu">
    <a href="mem-suggest-menu.html">Suggest Menu</a>
</div>
