<div class="header">
    <span>View Menu</span>
</div>
<div class="content">
    <ul class="searchForm">
        <li class="find-from">
            <p>From: <input class="datepicker" type="text"
                            placeholder="11/11/2013"></p>
        </li>
        <li class="find-to">
            <p>To: <input class="datepicker" type="text"
                          placeholder="19/11/2013"></p>
        </li>
    </ul>
    <div class="groupBtn">
        <a href="#" class="btn-black">Search</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Date(dd/mm/yy)</th>
            <th>Brunch</th>
            <th colspan="5">Menu</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {{#each models}}
        {{#with attributes}}
        <tr>
            <td>{{@index}}</td>
            <td>{{date}}</td>
            <td>{{brunch}}</td>
            {{#each dish}}
            <td>{{this}}</td>
            {{/each}}
            <td>{{note}}</td>
        </tr>
        {{/with}}
        {{/each}}
        </tbody>
    </table>

</div>
<div class="sg-menu">
    <a href="mem-suggest-menu.html">Suggest Menu</a>
</div>
