<div class="header">
    <span>Expense</span>
</div>
<div class="content">
    <ul class="searchForm">
        <li class="find-from">
            <p>From: <input class="datepicker" type="text"
                            placeholder="11/11/2013"></p>
        </li>
        <li class="find-to">
            <p>To: <input class="datepicker" type="text"
                          placeholder="19/11/2013"></p>
        </li>
    </ul>
    <div class="groupBtn">
        <a href="#" class="btn-black">Search</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Date(dd/mm/yy)</th>
            <th>Money(VND)</th>
            <th>Invoice ID</th>
            <th class="invoice-img">Invoice Images</th>
            <th class="note">Note</th>
        </tr>
        </thead>
        <tbody>
        {{#expense}}
        <tr>
            <td></td>
            <td>{{date}}</td>
            <td>{{money}}</td>
            <td>{{invoiceID}}</td>
            <td>
                <figure class="iconsp-invoice-25px">{{invoiceImage}}</figure>
            </td>
            <td>{{note}}</td>

        </tr>
        {{/expense}}
        </tbody>
    </table>
</div>
