<div class="header">
    <span>Register Meal</span>
</div>
<div class="content">
    <ul class="searchForm">
        <li class="find-from">
            <p>From: <input class="datepicker" type="text"
                            placeholder="11/11/2013"></p>
        </li>
        <li class="find-to">
            <p>To: <input class="datepicker" type="text"
                          placeholder="19/11/2013"></p>
        </li>
    </ul>
    <div class="groupBtn">
        <a href="#" class="btn-black">OK</a>
    </div>
    <div class="clear-fix"></div>
    <div class="table">
        <table class="reference">
            <thead>
            <tr>
                <th>No</th>
                <th>Date(dd/mm/yy)</th>
                <th>Lunch</th>
                <th>Dinner</th>
            </tr>
            </thead>
            <tbody>
            {{#each models}}
            <tr class="dateRegister">
                <td>{{attributes.number}}</td>
                <td class="date" data-date="{{attributes.date}}">
                    {{attributes.date}}-{{attributes
                    .day}}
                </td>
                <td><input class='lunchCheckbox' type="checkbox"
                           data-meal="lunch"
                    {{attributes.lunch.disabled}}
                    {{attributes.lunch.check}}>
                </td>
                <td><input class='dinnerCheckbox' type="checkbox"
                           data-meal="dinner"
                    {{attributes.dinner.disabled}}
                    {{attributes.dinner.check}}>
                </td>
            </tr>
            {{/each}}

            <tr>
                <td class="total" colspan="2"><span>Total:</span></td>
                <td class="numberLunchCheck">15</td>
                <td class="numberDinnerCheck">0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
