<div class="header">
    <span>Report </span>
</div>

<ul class="searchForm">
    <li class="find-name">
        <p>Name:
            <select>
                <option></option>
                <option>Mr.Hung</option>
                <option>Mr. Cuong</option>
                <option>Mr. Khiem</option>
            </select>
        </p>
    </li>
    <li class="find-from">
        <p>From: <input class="datepicker" type="text"
                        placeholder="11/11/2013"></p>
    </li>
    <li class="find-to">
        <p>To: <input class="datepicker" type="text"
                      placeholder="19/11/2013"></p>
    </li>
</ul>
<div class="groupBtn">
    <a href="#" class="btn-black">Show</a>
</div>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Name</th>
        <th>Begin Balance</th>
        <th>Deposit</th>
        <th>Adjusted Balance</th>
        <th>Meals</th>
        <th>Per Meals</th>
        <th>Meal Cost</th>
        <th>Facilities Cost</th>
        <th>End Balance</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>11/11/2013</td>
        <td>19/11/2013</td>
        <td>Mr. Hung</td>
        <td>0</td>
        <td>500.000</td>
        <td>25.700</td>
        <td>10</td>
        <td>0</td>
        <td>361.500</td>
        <td>500.000</td>
        <td>135.000</td>
    </tr>

    <tr>
        <th class="total" colspan='4'><span>Total:</span></th>
        <th>3.000.000</th>
        <th>100</th>
        <th>25.700</th>
        <th>2.000.000</th>
        <th>2.000.000</th>
        <th>2.500.000</th>
        <th>5.870.000</th>
        <th>5.000.000</th>
    </tr>
    </tbody>
</table>
