<div class="mem-deposit">
    <div class="header">
        <span>Deposit</span>
    </div>
    <div class="content">
        <div class="find">
            <div class="find-from">
                <div>From: <input class="datepicker" type="text"
                                  placeholder="11/11/2013"></div>
            </div>
            <div class="find-to">
                <div>To: <input class="datepicker" type="text"
                                placeholder="19/11/2013"></div>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="confirm">
            <a href="#">OK</a>
        </div>
        <div class="clear-fix"></div>
        <div class="table">
            <table class="reference">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Deposit</th>
                </tr>
            </thead>
            <tbody>
                {{#deposit}}
                <tr>
                    <th>{{no}}</th>
                    <th>{{date}}</th>
                    <th>{{amount}}</th>
                </tr>    
                {{/deposit}}            
            </tbody>
            </table>
        </div>
    </div>
</div>