<div class="expense">
    <div class="header">
        <span>Expense</span>
    </div>
    <div class="content">
        <div class="find">
            <div class="find-from">
                <div>From: <input class="datepicker" type="text" placeholder="11/11/2013"></div>
            </div>
            <div class="find-to">
                <div>To: <input class="datepicker" type="text" placeholder="19/11/2013"></div>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="confirm">
            <a href="#">OK</a>
        </div>
        <div class="clear-fix"></div>
        <div class="table">
            <table class="reference">
                <tbody>
                <tr>
                    <th>No</th>
                    <th>Date(dd/mm/yy)</th>
                    <th>Money(VND)</th>
                    <th>Invoice ID</th>
                    <th class="invoice-img">Invoice Images</th>
                    <th class="note">Note</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>11/11/2013</th>
                    <th>100.000</th>
                    <th>123456</th>
                    <th>
                        <figure class="iconsp-invoice-25px"></figure>
                    </th>
                    <th></th>

                </tr>
                <tr>
                    <th>2</th>
                    <th>11/11/2013</th>
                    <th>100.000</th>
                    <th>123456</th>
                    <th>
                        <figure class="iconsp-invoice-25px"></figure>
                    </th>
                    <th></th>

                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>