<div class="page-header">
  <h1 id="type">View Menu</h1>
</div>

<div class="col-md-12">
  <div class="form-group col-md-4">
    <label class="col-lg-2 control-label">From</label>
    <div class="col-lg-10">
      <input type="text" class="dateFrom form-control datepicker"
             placeholder="mm/dd/yyyy" onblur="validateDate(this)">
    </div>
  </div>
  <div class="form-group col-md-4">
    <label class="col-lg-2 control-label">To</label>
    <div class="col-lg-10">
      <input type="text" class="dateTo form-control datepicker"
             placeholder="mm/dd/yyyy" onblur="validateDate(this)">
    </div>
  </div>
  <div class="col-md-4">
    <a class="btn btn-primary btn-black">Search</a>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Date(dd/mm/yy)</th>
      <th>Brunch</th>
      <th colspan="5">Menu</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    {{#each models}} {{#with attributes}}
    <tr>
      <td>{{math @index "+" 1}}</td>
      <td>{{date}}</td>
      <td>{{brunch}}</td>
      {{#each dish}}
      <td>{{this}}</td>
      {{/each}}
      <td>{{note}}</td>
    </tr>
    {{/with}} {{/each}}
  </tbody>
</table>
<div class="sg-menu">
  <a href="#suggest-menu" role="button" data-toggle="modal">Suggest Menu</a> 
</div>
<!-- Create Suggest menu -->
<div class="modal fade" id="suggest-menu" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Suggest Menu</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="">
          <fieldset>
            <div class="form-group">
              <lable for='suggestmeal' class="control-label col-lg-3">Suggest meal</lable>
              <div class="col-lg-9">
                <input type="text" name="suggestmeal" class="form-control txt-suggest" id="suggestmeal">
              </div>
            </div>
            <br />

            <div class="form-group">
              <label for="textArea" class="col-lg-3 control-label">Note</label>
              <div class="col-lg-9">
                <textarea class="form-control txt-suggest-note" name="note" rows="3" id="textArea"></textarea>
                <span class="help-block">Write note</span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary saveSuggest" data-dismiss="modal">Save</button>
      </div>

    </div>
  </div>
</div>