<div class="header">
    <span>Report </span>
</div>
<div class="content">

    <div class="rp-cost-meal">
        <div class="content">
            <div class="find">
                <div class="find-name">
                    <div>Name:
                        <select>
                            <option></option>
                            <option>Mr.Hung</option>
                            <option>Mr. Cuong</option>
                            <option>Mr. Khiem</option>
                        </select>
                    </div>
                </div>
                <div class="find-from">
                    <div>From: <input class="datepicker" type="text"
                                      placeholder="11/11/2013"></div>
                </div>
                <div class="find-to">
                    <div>To: <input class="datepicker" type="text"
                                    placeholder="19/11/2013"></div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="confirm">
                <a href="#">Show</a>
            </div>
            <div class="clear-fix"></div>
            <div class="table">
                <table class="reference">
                    <tbody>
                    <tr>
                        <th>No</th>
                        <th>Date From</th>
                        <th>Date To</th>
                        <th>Name</th>
                        <th>Begin Balance</th>
                        <th>Deposit</th>
                        <th>Adjusted Balance</th>
                        <th>Meals</th>
                        <th>Per Meals</th>
                        <th>Meal Cost</th>
                        <th>Facilities Cost</th>
                        <th>End Balance</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>11/11/2013</th>
                        <th>19/11/2013</th>
                        <th>Mr. Hung</th>
                        <th>0</th>
                        <th>500.000</th>
                        <th>25.700</th>
                        <th>10</th>
                        <th>0</th>
                        <th>361.500</th>
                        <th>500.000</th>
                        <th>135.000</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>11/11/2013</th>
                        <th>19/11/2013</th>
                        <th>Mr. Hung</th>
                        <th>0</th>
                        <th>500.000</th>
                        <th>25.700</th>
                        <th>10</th>
                        <th>0</th>
                        <th>361.500</th>
                        <th>500.000</th>
                        <th>135.000</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>11/11/2013</th>
                        <th>19/11/2013</th>
                        <th>Mr. Hung</th>
                        <th>0</th>
                        <th>500.000</th>
                        <th>25.700</th>
                        <th>10</th>
                        <th>0</th>
                        <th>361.500</th>
                        <th>500.000</th>
                        <th>135.000</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th>11/11/2013</th>
                        <th>19/11/2013</th>
                        <th>Mr. Hung</th>
                        <th>0</th>
                        <th>500.000</th>
                        <th>25.700</th>
                        <th>10</th>
                        <th>0</th>
                        <th>361.500</th>
                        <th>500.000</th>
                        <th>135.000</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>11/11/2013</th>
                        <th>19/11/2013</th>
                        <th>Mr. Hung</th>
                        <th>0</th>
                        <th>500.000</th>
                        <th>25.700</th>
                        <th>10</th>
                        <th>0</th>
                        <th>361.500</th>
                        <th>500.000</th>
                        <th>135.000</th>
                    </tr>
                    <tr>
                        <th>6</th>
                        <th>11/11/2013</th>
                        <th>19/11/2013</th>
                        <th>Mr. Hung</th>
                        <th>0</th>
                        <th>500.000</th>
                        <th>25.700</th>
                        <th>10</th>
                        <th>0</th>
                        <th>361.500</th>
                        <th>500.000</th>
                        <th>135.000</th>
                    </tr>
                    <tr>
                        <th>7</th>
                        <th>11/11/2013</th>
                        <th>19/11/2013</th>
                        <th>Mr. Hung</th>
                        <th>0</th>
                        <th>500.000</th>
                        <th>25.700</th>
                        <th>10</th>
                        <th>0</th>
                        <th>361.500</th>
                        <th>500.000</th>
                        <th>135.000</th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <th>11/11/2013</th>
                        <th>19/11/2013</th>
                        <th>Mr. Hung</th>
                        <th>0</th>
                        <th>500.000</th>
                        <th>25.700</th>
                        <th>10</th>
                        <th>0</th>
                        <th>361.500</th>
                        <th>500.000</th>
                        <th>135.000</th>
                    </tr>
                    <tr>
                        <th class="total" colspan='4'><span>Total:</span></th>
                        <th>3.000.000</th>
                        <th>100</th>
                        <th>25.700</th>
                        <th>2.000.000</th>
                        <th>2.000.000</th>
                        <th>2.500.000</th>
                        <th>5.870.000</th>
                        <th>5.000.000</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>