<div class="mem-register-meal">
    <div class="header">
        <span>Register Meal</span>
    </div>
    <div class="content">
        <div class="find">
            <div class="find-from">
                <div>From: <input class="datepicker" type="text"
                                  placeholder="11/11/2013"></div>
            </div>
            <div class="find-to">
                <div>To: <input class="datepicker" type="text"
                                placeholder="19/11/2013"></div>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="confirm">
            <a href="#">OK</a>
        </div>
        <div class="clear-fix"></div>
        <div class="table">
            <table class="reference">
                <tbody>
                <tr>
                    <th>No</th>
                    <th>Date(dd/mm/yy)</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                </tr>
                <tr>
                    <th style="color:#cbcbcb">1</th>
                    <th style="color:#cbcbcb">11/11/2013-Mon</th>
                    <th><input type="checkbox" disabled checked></th>
                    <th><input type="checkbox" disabled checked></th>
                </tr>
                <tr>
                    <th style="color:#cbcbcb">2</th>
                    <th style="color:#cbcbcb">11/11/2013-Mon</th>
                    <th><input type="checkbox" disabled checked></th>
                    <th><input type="checkbox" disabled checked></th>
                </tr>
                <tr>
                    <th>3</th>
                    <th>11/11/2013-Mon</th>
                    <th><input type="checkbox" checked></th>
                    <th><input type="checkbox" checked></th>
                </tr>
                <tr>
                    <th>4</th>
                    <th>11/11/2013-Mon</th>
                    <th><input type="checkbox" checked></th>
                    <th><input type="checkbox" checked></th>
                </tr>
                <tr>
                    <th>5</th>
                    <th>11/11/2013-Mon</th>
                    <th><input type="checkbox" checked></th>
                    <th><input type="checkbox" checked></th>
                </tr>
                <tr>
                    <th>6</th>
                    <th>11/11/2013-Mon</th>
                    <th><input type="checkbox" checked></th>
                    <th><input type="checkbox" checked></th>
                </tr>
                </tr>
                <th class="total" colspan="2"><span>Total:</span></th>
                <th>15</th>
                <th>0</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>