	
				<div class="mem-register">
					<div class="content">
						<div class="rg-image">
							<figure>
								<img src="images/rg-register.png">
							</figure>
						</div>
						<div class="rg-box-input">
							<h3>Quick Register</h3>
							<input type="text" placeholder="Email">
							<input type="text" placeholder="Password">
							<input type="text" placeholder="Confirm Password">
							<div class="btn-end">
								<a href="#">Register</a>
							</div>
							<div class="clear-fix"></div>
							<div class="link-email">
								<a href="#">Email of DSV company</a>
							</div>
						</div>
					</div>
				</div>
		