	
				<div class="mem-register">
					<div class="content">
						<div class="rg-image">
							<figure>
								<img src="images/rg-register.png">
							</figure>
						</div>
						<div class="rg-box-input">
							<h3>Quick Register</h3>
							<input type="text" id="Email" placeholder="Email"/>
							<input type="password" id="Password" placeholder="Password"/>
							<input type="password" id="Confirm" placeholder="Confirm Password"/>
							<div class="btn-end">
								<a>Register</a>
							</div>
							<div class="clear-fix"></div>
							<div class="link-email">
								<a href="#">Email of DSV company</a>
							</div>
						</div>
					</div>
				</div>
		