	 </div> <!-- container -->
  <!--
  Client-side Templates
  ========================

  HTML templates are important prerequisites of modern, rich client applications.
  To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
  that you load these templates client-side.

  By default, your Gruntfile is configured to automatically load and precompile
  client-side JST templates in your `assets/linker/templates` folder, then
  include them here automatically (between TEMPLATES and TEMPLATES END).

  To customize this behavior to fit your needs, just edit your Gruntfile.
  For example, here are a few things you could do:

  + Import templates from other directories
  + Use a different template engine (handlebars, jade, dust, etc.)
  + Internationalize your client-side templates using a server-side
  stringfile before they're served.
  -->

  <!--TEMPLATES-->
  <script type="text/javascript" src="/linker/lib/js/handlebars.runtime-v1.3.0.js"></script>
  <script type="text/javascript" src="/templates.js"></script>
  <!--TEMPLATES END-->

  <!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, filesin your `assets/linker/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.


  <!--SCRIPTS-->
  <script src="/linker/lib/js/handlebars.runtime-v1.3.0.js"></script>
  <script src="/templates.js"></script>
  <script src="/linker/js/socket.io.js"></script>
  <script src="/linker/js/sails.io.js"></script>
  <script src="/linker/js/app.js"></script>
  <script src="/linker/lib/js/jquery-2.1.0.min.js"></script>
  <script src="/linker/lib/js/jquery-ui-1.10.4.custom.js"></script>
  <script src="/linker/lib/js/underscore-min.js"></script>
  <script src="/linker/lib/js/backbone-min.js"></script>
  <script src="/linker/js/models/deposit.js"></script>
  <script src="/linker/js/models/dishList.js"></script>
  <script src="/linker/js/models/dishMenu.js"></script>
  <script src="/linker/js/models/expenseMenu.js"></script>
  <script src="/linker/js/models/registerMeal.js"></script>
  <script src="/linker/js/models/user.js"></script>
  <script src="/linker/js/collections/deposit.js"></script>
  <script src="/linker/js/collections/dishList.js"></script>
  <script src="/linker/js/collections/dishMenu.js"></script>
  <script src="/linker/js/collections/expenseMenu.js"></script>
  <script src="/linker/js/collections/registerMeal.js"></script>
  <script src="/linker/js/collections/user.js"></script>
  <script src="/linker/js/views/createDish.js"></script>
  <script src="/linker/js/views/createMenu.js"></script>
  <script src="/linker/js/views/deposit.js"></script>
  <script src="/linker/js/views/dishList.js"></script>
  <script src="/linker/js/views/dishMenu.js"></script>
  <script src="/linker/js/views/expenseMenu.js"></script>
  <script src="/linker/js/views/printMenu.js"></script>
  <script src="/linker/js/views/registerMeal.js"></script>
  <script src="/linker/js/views/subdeposit_view.js"></script>
  <script src="/linker/js/views/submenu_view.js"></script>
  <script src="/linker/js/views/user.js"></script>
  <script src="/linker/js/views/viewRegisterMeal.js"></script>
  <script src="/linker/js/bak.js"></script>
  <script src="/linker/js/routes.js"></script>
  <!--SCRIPTS END-->
  </body>
  </html>
</html>



