<header>
    <div class="userInfo">
        <a href="#profile/user" id="user-account">{{welcomeUser}}</a>
        ,
        <a href="/logout" id="btn-log"><ins>{{status}}</ins></a>

    </div>
    <div class="clearfix"></div>

    <div class="logo">
        <figure>
            <img src="images/logo.png">
        </figure>
        <span>Meal Registration System</span>
    </div>

    <div class="menu">
        <ul>
            <li><a href="/">Register Meal</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#expense">Expense</a></li>
            <li><a href="#deposit">Deposit</a></li>
            <li><a href="#report">Report</a></li>
        </ul>
    </div>
</header>