<header>
    <div class="logo">
        <figure>
            <img src="images/logo.png">
        </figure>
        <span>Meal Registration System</span>
    </div>
    <div class="userInfo">
        <a href="#profile/user" id="user-account">{{welcomeUser}}</a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#register_meal">Register Meal</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#expense">Expense</a></li>
            <li><a href="#deposit">Deposit</a></li>
            <li><a href="#report">Report</a></li>
            <!--  <li><a href="/logout" id="btn-log">Logout</a></li> -->
            <li><a href="/logout" id="btn-log">{{status}}</a></li>
        </ul>
    </div>
</header>