    <div class="container">
        <header>
            <div class="logo">
                <figure>
                    <img src="images/logo.png">
                </figure>
                <span>Meal Resitration System</span>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="register-meal.html">Register Meal</a></li>
                    <li><a href="menus.html">Menu</a></li>
                    <li><a href="expense.html">Expense</a></li>
                    <li><a href="deposit.html">Deposit</a></li>
                    <li><a href="report.html">Report</a></li>
                    <li><a href="#">Welcome DSV Logout</a></li>
                </ul>
            </div>
        </header>