<ul class="searchForm">
    <li class="find-from">
        <p>From: <input class="datepicker" type="text"></p>
    </li>
    <li class="find-to">
        <p>To: <input class="datepicker" type="text"></p>
    </li>
</ul>
<div class="clearfix"></div>
<div class="groupBtn">
    <a id="btnViewByDay" class="btn-black">Search</a>
</div>
<div class="clear-fix"></div>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>No</th>
        <th data-attribute="date">Date(mm/dd/yyyy)</th>
        <th data-attribute="name">Name</th>
        <th data-attribute="lunch">Lunch</th>
        <th data-attribute="dinner">Dinner</th>
    </tr>
    </thead>
    <tbody>
    {{#each models}}
    <tr>
        <td>{{attributes.number}}</td>
        <td>{{attributes.date}}</td>
        <td>{{attributes.name}}</td>
        <td><input type="checkbox" {{attributes.lunch}}/></td>
        <td><input type="checkbox" {{attributes.dinner}}/></td>
    </tr>
    {{/each}}
    </tbody>
</table>
