<div class="find">
    <div class="find-from">
        <div>From: <input class="datepicker" type="text"></div>
    </div>
    <div class="find-to">
        <div>To: <input class="datepicker" type="text"></div>
    </div>
</div>
<div class="clearfix"></div>
<div class="confirm">
    <a href="" id="btnViewByDay">Search</a>
</div>
<div class="clear-fix"></div>

<table>
    <thead>
    <tr>
        <th>No</th>
        <th data-attribute="date">Date(mm/dd/yyyy)</th>
        <th data-attribute="name">Name</th>
        <th data-attribute="lunch">Lunch</th>
        <th data-attribute="dinner">Dinner</th>
    </tr>
    </thead>
</table>
