<ul class="searchForm">
    <li class="find-from">
        <p>From: <input class="datepicker" type="text"></p>
    </li>
    <li class="find-to">
        <p>To: <input class="datepicker" type="text"></p>
    </li>
</ul>
<div class="clearfix"></div>
<div class="groupBtn">
    <a id="btnViewByDay" class="btn-black">Search</a>
</div>
<div class="clear-fix"></div>

<table>
    <thead>
    <tr>
        <th>No</th>
        <th data-attribute="date">Date(mm/dd/yyyy)</th>
        <th data-attribute="name">Name</th>
        <th data-attribute="lunch">Lunch</th>
        <th data-attribute="dinner">Dinner</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
