<!DOCTYPE html>
<html>
<head>
    <title>
        IS DSV - Menus
    </title>
    <link rel="icon" href="static/images/favicon.png" type="image/x-icon">
    <link type="text/css" href="css/ui-lightness/jquery-ui-1.10.4.custom.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery-bak.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <header>
        <div class="logo">
            <figure>
                <img src="images/logo.png">
            </figure>
            <span>Meal Resitration System</span>
        </div>
        <div class="menu">
            <ul>
                <li><a href="register-meal.html">Register Meal</a></li>
                <li><a href="menus.html">Menu</a></li>
                <li><a href="expense.html">Expense</a></li>
                <li><a href="deposit.html">Deposit</a></li>
                <li><a href="report.html">Report</a></li>
                <li><a href="#">Welcome DSV Logout</a></li>
            </ul>
        </div>
    </header>
    <section class="main">
        <div class="menus">
            <div class="header">
                <span>Menu</span>
            </div>
            <div class="content">
                <div class="find">
                    <div class="find-from">
                        <div>From: <input class="datepicker" type="text"></div>
                    </div>
                    <div class="find-to">
                        <div>To: <input class="datepicker" type="text"></div>
                    </div>
                </div>
                <div class="clear-fix"></div>
                <div class="confirm">
                    <a href="#">OK</a>
                </div>
                <div class="clear-fix"></div>
                <div class="table">
                    <table class="reference">
                        <tbody>
                        <tr>
                            <th>Date(dd/mm/yy)</th>
                            <th>Brunch</th>
                            <th>Dish1</th>
                            <th>Dish2</th>
                            <th>Dish3</th>
                            <th>Dish4</th>
                            <th>Dish5</th>
                            <th>Note</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>11/11/2013</th>
                            <th>Lunch</th>
                            <th>Ca phao</th>
                            <th>Mam tom</th>
                            <th>Canh cua</th>
                            <th>Suon Chien</th>
                            <th>Dua hau</th>
                            <th>Ngon qua di</th>
                            <th>
                                <figure class="iconsp-edit-25px"></figure>
                            </th>
                        </tr>
                        <tr>
                            <th>11/11/2013</th>
                            <th>Dinner</th>
                            <th>Chao bot</th>
                            <th>Thit luoc</th>
                            <th>Thit nuong</th>
                            <th>Suon Chien</th>
                            <th>Sua chua</th>
                            <th>Ngon qua di</th>
                            <th>
                                <figure class="iconsp-edit-red-25px"></figure>
                            </th>
                        </tr>
                        <tr>
                            <th>11/11/2013</th>
                            <th>Lunch</th>
                            <th>Ca phao</th>
                            <th>Mam tom</th>
                            <th>Canh cua</th>
                            <th>Suon Chien</th>
                            <th>Dua hau</th>
                            <th>Ngon qua di</th>
                            <th>
                                <figure class="iconsp-edit-25px"></figure>
                            </th>
                        </tr>
                        <tr>
                            <th>11/11/2013</th>
                            <th>Dinner</th>
                            <th>Chao bot</th>
                            <th>Thit luoc</th>
                            <th>Thit nuong</th>
                            <th>Suon Chien</th>
                            <th>Sua chua</th>
                            <th>Ngon qua di</th>
                            <th>
                                <figure class="iconsp-edit-red-25px"></figure>
                            </th>
                        </tr>
                        <tr>
                            <th>11/11/2013</th>
                            <th>Lunch</th>
                            <th>Ca phao</th>
                            <th>Mam tom</th>
                            <th>Canh cua</th>
                            <th>Suon Chien</th>
                            <th>Dua hau</th>
                            <th>Ngon qua di</th>
                            <th>
                                <figure class="iconsp-edit-25px"></figure>
                            </th>
                        </tr>
                        <tr>
                            <th>11/11/2013</th>
                            <th>Dinner</th>
                            <th>Chao bot</th>
                            <th>Thit luoc</th>
                            <th>Thit nuong</th>
                            <th>Suon Chien</th>
                            <th>Sua chua</th>
                            <th>Ngon qua di</th>
                            <th>
                                <figure class="iconsp-edit-red-25px"></figure>
                            </th>
                        </tr>
                        <tr>
                            <th>11/11/2013</th>
                            <th>Lunch</th>
                            <th>Ca phao</th>
                            <th>Mam tom</th>
                            <th>Canh cua</th>
                            <th>Suon Chien</th>
                            <th>Dua hau</th>
                            <th>Ngon qua di</th>
                            <th>
                                <figure class="iconsp-edit-25px"></figure>
                            </th>
                        </tr>
                        <th class="mn-save">
                            <div><input class="datepicker" type="text"></div>
                        </th>
                        <th class="mn-save"><input type="text" placeholder="Dinner"></th>
                        <th class="mn-save"><input type="text" placeholder="Chao bot"></th>
                        <th>Thit luoc</th>
                        <th>Thit nuong</th>
                        <th>Suon Chien</th>
                        <th>Sua chua</th>
                        <th>Ngon qua di</th>
                        <th>
                            <figure class="iconsp-save-25px"></figure>
                        </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-end">
                    <a href="#">Back</a>
                    <a href="#" onclick="show_popup('.mn-print-menu')">Print</a>
                    <a href="#" onclick="show_popup('.mn-create-dish')">Create</a>
                </div>
                <div class="clear-fix"></div>
                <div class="suggestion">
                    <span>Suggestion</span>

                    <div class="table">
                        <table class="reference">
                            <tbody>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Suggestion</th>
                            </tr>
                            <tr>
                                <th>11/11/2013</th>
                                <th>Thuy Nguyen</th>
                                <th>Rice+Fish sauce is enough</th>
                            </tr>
                            <tr>
                                <th>11/11/2013</th>
                                <th>Thuy Nguyen</th>
                                <th>Rice+Fish sauce is enough</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="popup_area">
<div class="mask_popup"></div>
<div class="content_popup">
<div class="wrapper_content_popup">
<div class="content_detail_popup">
<div class="mn-print-menu style_popup-940px">
    <div class="header">
        <span>Print Menu</span>
    </div>
    <figure class="iconsp-cancer-15px close_popup"></figure>
    <div class="content">
        <div class="find">
            <div class="find-from">
                <div>From: <input class="datepicker" type="text"></div>
            </div>
            <div class="find-to">
                <div>To: <input class="datepicker" type="text"></div>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="confirm">
            <a href="#">OK</a>
        </div>
        <div class="clear-fix"></div>
        <div class="table">
            <table class="reference">
                <tbody>
                <tr>
                    <th>No</th>
                    <th>Date(dd/mm/yy)</th>
                    <th>Brunch</th>
                    <th>Dish1</th>
                    <th>Dish2</th>
                    <th>Dish3</th>
                    <th>Dish4</th>
                    <th>Dish5</th>
                    <th>Note</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>11/11/2013</th>
                    <th>Lunch</th>
                    <th>Ca phao</th>
                    <th>Mam tom</th>
                    <th>Canh cua</th>
                    <th>Suon Chien</th>
                    <th>Dua hau</th>
                    <th>Ngon qua di</th>
                </tr>
                <tr>
                    <th>2</th>
                    <th>11/11/2013</th>
                    <th>Dinner</th>
                    <th>Chao bot</th>
                    <th>Thit luoc</th>
                    <th>Thit nuong</th>
                    <th>Suon Chien</th>
                    <th>Sua chua</th>
                    <th>Ngon qua di</th>
                </tr>
                <tr>
                    <th>3</th>
                    <th>11/11/2013</th>
                    <th>Lunch</th>
                    <th>Ca phao</th>
                    <th>Mam tom</th>
                    <th>Canh cua</th>
                    <th>Suon Chien</th>
                    <th>Dua hau</th>
                    <th>Ngon qua di</th>
                </tr>
                <tr>
                    <th>4</th>
                    <th>11/11/2013</th>
                    <th>Dinner</th>
                    <th>Chao bot</th>
                    <th>Thit luoc</th>
                    <th>Thit nuong</th>
                    <th>Suon Chien</th>
                    <th>Sua chua</th>
                    <th>Ngon qua di</th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-end">
            <a href="#">Delete</a>
            <a href="#" onclick="show_popup('.mn-create-menu')">Create</a>
        </div>
        <div class="clear-fix"></div>
    </div>
</div>
<!-- mn-print-menu -->
<div class="mn-create-menu style_popup-940px">
    <div class="header">
        <span>Create Menu</span>
    </div>
    <figure class="iconsp-cancer-15px close_popup"></figure>
    <div class="content">
        <div class="confirm">
            <a href="#">Cancel</a>
        </div>
        <div class="confirm">
            <a href="#">Add</a>
        </div>
        <div class="confirm">
            <a href="#">Save</a>
        </div>
        <div class="confirm">
            <a href="#">Print</a>
        </div>
        <div class="clear-fix"></div>
        <div class="table">
            <table class="reference">
                <tbody>
                <tr>
                    <th>No</th>
                    <th>Date(dd/mm/yy)</th>
                    <th>Brunch</th>
                    <th>Dish1</th>
                    <th>Dish2</th>
                    <th>Dish3</th>
                    <th>Dish4</th>
                    <th>Dish5</th>
                    <th>Note</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th class="mn-cr-edit">
                        <div><input class="date datepicker" type="text"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div class="find-name">
                            <select>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                        </div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Ca phao"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mam tom"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Canh cua"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Suon chien"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Dua hau"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mien mon 5"></div>
                    </th>
                </tr>
                <tr>
                    <th>2</th>
                    <th class="mn-cr-edit">
                        <div><input class="date datepicker" type="text"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div class="find-name">
                            <select>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                        </div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Ca phao"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mam tom"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Canh cua"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Suon chien"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Dua hau"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mien mon 5"></div>
                    </th>
                </tr>
                <tr>
                    <th>3</th>
                    <th class="mn-cr-edit">
                        <div><input class="date datepicker" type="text"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div class="find-name">
                            <select>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                        </div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Ca phao"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mam tom"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Canh cua"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Suon chien"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Dua hau"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mien mon 5"></div>
                    </th>
                </tr>
                <tr>
                    <th>4</th>
                    <th class="mn-cr-edit">
                        <div><input class="date datepicker" type="text"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div class="find-name">
                            <select>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                        </div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Ca phao"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mam tom"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Canh cua"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Suon chien"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Dua hau"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mien mon 5"></div>
                    </th>
                </tr>
                <tr>
                    <th>5</th>
                    <th class="mn-cr-edit">
                        <div><input class="date datepicker" type="text"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div class="find-name">
                            <select>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                        </div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Ca phao"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mam tom"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Canh cua"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Suon chien"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Dua hau"></div>
                    </th>
                    <th class="mn-cr-edit">
                        <div><input type="text" placeholder="Mien mon 5"></div>
                    </th>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mn-create-dish style_popup-940px">
    <figure class="iconsp-cancer-15px close_popup"></figure>
    <div class="header">
        <span>Create Dish</span>
    </div>
    <div class="content">
        <form id="create-dish" class="create_form_popup ">
            <label>List Dish</label>
            <select id="list_dish">
                <?php
		                                foreach ($list_dish as $value) {
		                                    echo ' <option>' . $value . '</option>';
                }
                ?>
            </select>
            <label>Dish Name</label>
            <input type="text" name="dishname" class="dishname" />
            <label>Note</label>
            <textarea name="note"></textarea>

            <div class="confirm" onclick="submit_dish()">
                <a class="submit">Save</a>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
</body>
