<div class="header">
    <span>Administrator</span>
</div>
<div id="tabsAdmin">
    <ul>
        <li><a href="#options">Options</a></li>
        <li><a href="#userManager">User Manager</a></li>
        <li><a href="#depositManager">Deposit Manager</a></li>
    </ul>
    <div id="options"></div>
    <div id="userManager"></div>
    <div id="depositManager"></div>
</div>

<!--<div class="popup_area">-->
    <!--<div class="mask_popup"></div>-->
    <!--<div class="content_popup">-->
        <!--<div class="wrapper_content_popup">-->
            <!--<div class="content_detail_popup">-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->