<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>No</th>
        <th>Email</th>
        <th>Name</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody id="depositTable">
    {{#each models}}
    {{#with attributes}}
    {{#if edit}}
    <tr data-id="{{id}}">
        <td>{{@index}}</td>
        <td><input class='inputEmail' type="email" value="{{email}}"/></td>
        <td><input class='inputName' type="text" value="{{name}}"/></td>
        <td><input class='inputDate datepicker' type="text"
                   value="{{date}}"/></td>
        <td><input class="inputAmount" type="text" value="{{amount}}"/></td>
        <td>
            <span class="cursor save glyphicon glyphicon-floppy-disk"></span>
            <span class="cursor delete glyphicon glyphicon-trash"></span>
        </td>
    </tr>
    {{else}}
    <tr data-id="{{id}}">
        <td>{{@index}}</td>
        <td>{{email}}</td>
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{amount}}</td>
        <td class="link">
            <span class="cursor edit glyphicon glyphicon-pencil"></span>
            <span class="cursor delete glyphicon glyphicon-trash"></span>
       </td>
    </tr>
    {{/if}}
    {{/with}}
    {{/each}}
    </tbody>
</table>
<div class="btn-group">
    <a class="btn-primary btn" id="addDeposit">Add</a>
</div>
<p class="notification"></p>