<div class="header">
  <span>View Menu</span>
</div>
<div class="content">
  <ul class="searchForm">
    <li class="find-from">
      <p>From:
        <input class="datepicker" type="text" placeholder="11/11/2013">
      </p>
    </li>
    <li class="find-to">
      <p>To:
        <input class="datepicker" type="text" placeholder="19/11/2013">
      </p>
    </li>
  </ul>
  <div class="groupBtn">
    <a class="btn-black">Search</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Date(dd/mm/yy)</th>
        <th>Brunch</th>
        <th colspan="5">Menu</th>
        <th>Note</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each models}} {{#with attributes}}
      <tr>
        <td>{{@index}}</td>
        <td>{{date}}</td>
        <td>{{brunch}}</td>
        {{#each dish}}
        <td>{{this}}</td>
        {{/each}}
        <td>{{note}}</td>
        <td>
          {{#unless editor}}
          <figure class="iconsp-edit-25px" id="button-edit-menu" data-id="{{id}}"></figure>
          {{else}}
          <figure class="iconsp-save-25px" id="button-save-menu" data-id="{{id}}"></figure>
          {{/unless}}
        </td>
        <td>
          <figure class="iconsp-remove-25px" id="button-remove-menu" data-id="{{id}}">
          </figure>
        </td>
      </tr>
      {{/with}} {{/each}}
    </tbody>
  </table>
  <div class="btn-end">
    <a href="#">Print</a>
    <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block'">Create Dish</a>
    <a href="javascript:void(1)" onclick="document.getElementById('light_createMenu').style.display='block';
        document.getElementById('fade').style.display='block'">Create Menu</a>
  </div>
  <div class="clear-fix"></div>
</div>

<!-- Create Dish -->
<div id="light" class="white_content">
  <a href="javascript:void(0)" class="close-pop" onclick="document.getElementById('light').style.display='none';
    document.getElementById('fade').style.display='none'">Close</a>
  <div class="content-create-dish">
    <div class="header">
      <span>Create Dish</span>
    </div>
    <div id="create-dish" class="create_form_popup">
      <p>
        <label class='label-dish'>Dish Name</label>
        <input type="text" name="dishname" class="dishname txt-dish" id="dishname">
      </p>
      <p>
        <label class='label-dish'>Note</label>
        <textarea name="note" class='dishnote txt-dish'></textarea>
      </p>
      <p>
        <div id="btn-save" class="confirm">
          <a class="saveDish">Save</a>
        </div>
        <div class="confirm">
          <a href="#manager">Back</a>
        </div>
      </p>
    </div>
  </div>
</div>
<div id="fade" class="black_overlay"></div>

<!-- Create Menu -->

<div id="light_createMenu" class="white_content_createMenu">
  <a href="javascript:void(1)" class="close-pop" onclick="document.getElementById('light_createMenu').style.display='none';
    document.getElementById('fade').style.display='none'">Close</a>
  <div class="content">
    <div class="header">
      <span>Create Menu</span>
    </div>
    <div class="clear-fix"></div>
    <div class="table">
      <table class="reference">
        <thead>
          <tr>
            <th>Date(dd/mm/yy)</th>
            <th>Brunch</th>
            <th colspan="5">Menu</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody id="create-menu">

          <tr data-cid={{cid}}>
            <td>
              <input type="text" id="" class="" name="">
            </td>
            <td>
              <select>
                <option>Lunch</option>
                <option>Dinner</option>
              </select>
            </td>
            <td>
              <input type="text" id="" class="" name="">
            </td>
            <td>
              <input type="text" id="" class="" name="">
            </td>
            <td>
              <input type="text" id="" class="" name="">
            </td>
            <td>
              <input type="text" id="" class="" name="">
            </td>
            <td>
              <input type="text" id="" class="" name="">
            </td>
            <td>
              <input type="text" id="" class="" name="">
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="confirm">
      <a href="#menu/create_menu" id="btn-add">Add</a>
    </div>
    <div class="confirm">
      <a id="btn-save">Save</a>
    </div>
    <div class="confirm">
      <a href="#menu">Back</a>
    </div>
    <ul id="list_dish_menu" style="display: none">
      {{#list}}
      <li>{{dish}}</li>
      {{/list}}
    </ul>
  </div>
</div>