<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>No</th>
        <th><input type="checkbox" id="checkAllUser"/></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Active</th>
        <th>Day join</th>
        <th>Phone</th>
        <th>Balance</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    {{#each models}}
    {{#with attributes}}
    <tr data-id="{{id}}">
        <td>{{@index}}</td>
        <td><input type="checkbox"/></td>
        <td>{{firstname}}</td>
        <td>{{lastname}}</td>
        <td>{{email}}</td>
        <td><input class="userActiveField" type="checkbox" {{#if active}}
            checked
            {{/if}}
            />
        </td>
        <td>{{join_date}}</td>
        <td>{{phone}}</td>
        <td>{{balance}}</td>
        <td>
            <select class="userRoleField">
                <option>user</option>
                <option
                {{#role role}}{{/role}}>
                admin
                </option>
            </select>
        </td>
    </tr>
    {{/with}}
    {{/each}}
    </tbody>
</table>
<div class="groupbtn"><a class="btn btn-primary" id="saveUser">Save</a></div>