/*ul, p,figure {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

/*li {*/
/*list-style: none;*/
/*}*/

/*.container {*/
/*width: 1024px;*/
/*margin: 0 auto;*/
/*}*/

/*a {*/
/*color: inherit;*/

/*text-transform: capitalize;*/
/*text-decoration: none;*/
/*}*/

/*.clearfix {*/
/*clear: both;*/
/*}*/

/*.userInfo {*/
/*float: right;*/
/*color: red;*/
/*}*/

/*body {*/
/*font-size: 18px;*/
/*background: #f1f1f1;*/
/*}*/
.cursor {
  cursor: pointer;
}

.logo div {
  font-family: 'EBGaramond-Regular', sans-serif;
  font-size: 42px;
  color: #f7ba13;
  text-shadow: 0.9px 1.1px #A3A0A0;
  display: table-cell;
}

.logo img {
  width: 400px;
}

.logo figure {
  display: table-cell;
  margin-left: 15px;
}

.logo {
  margin: 40px 0;
  vertical-align: middle;
  width: 100%;
}

a.ui-datepicker-prev.ui-corner-all {
  float: left;
}

a.ui-datepicker-next.ui-corner-all {
  float: right;
}

div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  text-align: center;
}

table.ui-datepicker-calendar tr span {
  padding: 5px;
}

div#ui-datepicker-div {
  background: #fff;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 2px;
  display: none;
}

table.ui-datepicker-calendar td {
  text-align: center;
  border: 1px solid #bbb;
}

td.ui-datepicker-today {
  background: #eb6864;
  color: #fff;
}

td.ui-datepicker-today a {
  color: #fff;
}

/*.menu {*/
/*margin: 20px 0;*/
/*}*/

/*.menu ul {*/
/*display: table;*/
/*width: 100%;*/
/*}*/

/*.menu ul li {*/
/*display: table-cell;*/
/*}*/

/*.menu ul li a {*/
/*display: block;*/
/*text-align: center;*/
/*padding: 14px;*/
/*background: rgb(122, 122, 122);  Old browsers */
/*background: -moz-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, rgba(122, 122, 122, 1)), color-stop(52%, rgba(94, 94, 94, 1)), color-stop(100%, rgba(122, 122, 122, 1)));  Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  Opera 11.10+ */
/*background: -ms-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  IE10+ */
/*background: linear-gradient(to bottom, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#7a7a7a', GradientType=0);  IE6-9 */
/*border: 1px solid #5d5d5d;*/
/*color: white*/
/*}*/

/*.menu ul li a:hover {*/
/*background: rgb(84, 84, 84);  Old browsers */
/*background: -moz-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, rgba(84, 84, 84, 1)), color-stop(53%, rgba(77, 77, 77, 1)), color-stop(100%, rgba(77, 77, 77, 1)));  Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  Opera 11.10+ */
/*background: -ms-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  IE10+ */
/*background: linear-gradient(to bottom, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#4d4d4d', GradientType=0);  IE6-9 */
/*}*/

/*input[type='text'], input[type='password'], input[type='email'] {*/
/*padding: 4px 10px;*/
/*border-radius: 5px;*/
/*margin: 0 5px;*/
/*}*/

/*.content {*/
/*background: #fff;*/
/*padding: 10px;*/
/*border-radius: 10px;*/
/*}*/

/*.clearfix {*/
/*clear: both;*/
/*}*/

/*table {*/
/*width: 100%;*/
/*border: 1px solid #bbb;*/
/*margin: 10px 0;*/
/*border-collapse: collapse;*/
/*text-align: center*/
/*}*/

/*th, td {*/
/*border: 1px solid #bbb;*/
/*padding: 5px*/
/*}*/

/*thead {*/
/*background: rgb(239, 239, 239);  Old browsers */
/*background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%);  FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(3%, rgba(252, 252, 252, 1)), color-stop(40%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(239, 239, 239, 1)));  Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%);  Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%);  Opera 11.10+ */
/*background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%);  IE10+ */
/*background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%);  W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0);  IE6-9 */
/*}*/

/*tbody tr:nth-child(odd) {*/
/*background: #ececec;*/
/*}*/

/*tbody {*/
/*font-size: 14px;*/
/*}*/

/*.header {*/
/*font-size: 40px;*/
/*text-align: center;*/
/*padding: 10px;*/
/*border-bottom: 1px solid #bbb;*/
/*margin-bottom: 10px;*/
/*}*/

/*ul.searchForm li {*/
/*display: inline-block;*/
/*margin-right: 10px;*/
/*vertical-align: middle;*/
/*}*/

/*.ui-datepicker-trigger {*/
/*position: relative;*/
/*top: 4px;*/
/*}*/

/*.btn-black {*/
/*background: rgb(122, 122, 122);  Old browsers */
/*background: -moz-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, rgba(122, 122, 122, 1)), color-stop(52%, rgba(94, 94, 94, 1)), color-stop(100%, rgba(122, 122, 122, 1)));  Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  Opera 11.10+ */
/*background: -ms-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  IE10+ */
/*background: linear-gradient(to bottom, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%);  W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#7a7a7a', GradientType=0);  IE6-9 */
/*padding: 5px 20px;*/
/*display: inline-block;*/
/*border-radius: 2px;*/
/*margin-bottom: 14px;*/
/*margin-top: 10px;*/
/*color: #fff;*/
/*border: none;*/
/*cursor: pointer;*/
/*}*/

/*.btn-black:hover {*/
/*background: rgb(84, 84, 84);  Old browsers */
/*background: -moz-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, rgba(84, 84, 84, 1)), color-stop(53%, rgba(77, 77, 77, 1)), color-stop(100%, rgba(77, 77, 77, 1)));  Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  Opera 11.10+ */
/*background: -ms-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  IE10+ */
/*background: linear-gradient(to bottom, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%);  W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#4d4d4d', GradientType=0);  IE6-9 */
/*}*/

/*.tb-menu tbody tr td {*/
/*padding: 3px*/
/*}*/

/*div.rg-box-input {*/
/*width: 400px;*/
/*margin: 0 auto;*/
/*padding: 10px;*/
/*}*/

/*div.rg-box-input label {*/
/*width: 75px;*/
/*display: inline-block;*/
/*}*/

/*div.rg-box-input input {*/
/*width: 200px;*/
/*margin: 2px 0;*/
/*}*/

/*.link {*/
/*color: #f7ba13;*/
/*font-size: 12px;*/
/*}*/
/*.notification{*/
/*color:red;*/
/*}*/
/*.manager_form p{*/
/*padding: 10px 0;*/
/*}*/
/*.manager_form .manager_lb{*/
/*display: inline-block;*/
/*width: 170px;*/
/*}*/

/*ul.user_profile li {*/
/*margin-bottom: 20px;*/
/*}*/
/*span.edit,span.save {*/
/*font-size: 15px;*/
/*float: right;*/
/*color: blue;*/
/*cursor: pointer;*/
/*}*/
/*.editing{*/
/*border:1px solid red;*/
/*padding:0 20px;*/
/*}*/
/*.popup_area {*/
/*position: fixed;*/
/*top: 0;*/
/*left: 0;*/
/*height: 100%;*/
/*width: 100%;*/
/*display: block;*/
/*}*/
/*.mask_popup {*/
/*background: rgba(0,0,0,0.5);*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/
/*.content_popup {*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*height:100%;*/
/*width: 100%;*/
/*}*/
/*.wrapper_content_popup {*/
/*display: table;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/
/*.content_detail_popup {*/
/*display: table-cell;*/
/*vertical-align: middle;*/
/*}*/
/*[class*='style_popup']{*/
/*border: 1px solid #d0d0d0;*/
/*border-radius: 4px;*/
/*background: #fff;*/
/*margin: 0 auto;*/
/*position: relative;*/
/*padding: 10px;*/
/*}*/
/*[class*='-940px']{*/
/*width: 940px;*/
/*}*/
/*.close_popup{*/
/*position: absolute;*/
/*top: 10px;*/
/*right: 10px;*/
/*cursor: pointer;*/
/*}*/

/*.create_form_popup label {*/
/*display: block;*/
/*margin: 5px;*/
/*}*/
/*.create_form_popup input {*/
/*width: 100%;*/
/*}*/
/*.create_form_popup textarea {*/
/*width: 100%;*/
/*height: 200px;*/
/*border-radius: 2px;*/
/*border: 1px solid #bbb;*/
/*}*/
/*.create_form_popup .datepicker{*/
/*width:inherit;*/
/*}*/
/*.close_popup {*/
/*position: absolute;*/
/*top: 10px;*/
/*right: 10px;*/
/*cursor: pointer;*/
/*}*/
/*ul.detailPopup {*/
/*padding: 20px;*/
/*font-size: 20px;*/
/*}*/
/*ul.detailPopup li {*/
/*margin: 10px 0;*/
/*}*/
/*.detailPopup label {*/
/*width: 80px;*/
/*display: inline-block;*/
/*}*/