ul, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

a {
  color: inherit;

  text-transform: capitalize;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.userInfo {
  float: right;
  color: red;
}

body {
  font-size: 16px;
  background: #f1f1f1;
}

.logo span {
  font-family: 'EBGaramond-Regular', sans-serif;
  font-size: 48px;
  color: #f7ba13;
  text-shadow: 0.9px 1.1px #A3A0A0;
  float: right;
  margin-top: 36px;
  margin-right: 5px;
}

.logo img {
  width: 400px;
}

.logo figure {
  display: inline-block;
  margin-left: 15px;
}

.menu {
  margin: 20px 0;
}

.menu ul {
  display: table;
  width: 100%;
}

.menu ul li {
  display: table-cell;
}

.menu ul li a {
  display: block;
  text-align: center;
  padding: 14px;
  background: rgb(122, 122, 122); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, rgba(122, 122, 122, 1)), color-stop(52%, rgba(94, 94, 94, 1)), color-stop(100%, rgba(122, 122, 122, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#7a7a7a', GradientType=0); /* IE6-9 */
  border: 1px solid #5d5d5d;
  color: white
}

.menu ul li a:hover {
  background: rgb(84, 84, 84); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, rgba(84, 84, 84, 1)), color-stop(53%, rgba(77, 77, 77, 1)), color-stop(100%, rgba(77, 77, 77, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#4d4d4d', GradientType=0); /* IE6-9 */
}

input[type='text'], input[type='password'], input[type='email'] {
  padding: 4px 10px;
  border-radius: 5px;
  margin: 0 5px;
}

.content {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.clearfix {
  clear: both;
}

table {
  width: 100%;
  border: 1px solid #bbb;
  margin: 10px 0;
  border-collapse: collapse;
  text-align: center
}

th, td {
  border: 1px solid #bbb;
  padding: 5px
}

thead {
  background: rgb(239, 239, 239); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(3%, rgba(252, 252, 252, 1)), color-stop(40%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(252, 252, 252, 1) 3%, rgba(252, 252, 252, 1) 40%, rgba(239, 239, 239, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0); /* IE6-9 */
}

tbody tr:nth-child(odd) {
  background: #ececec;
}

tbody {
  font-size: 14px;
}

.header {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
}

ul.searchForm li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

ul.searchForm img {
  position: relative;
  top: 4px;
}

.btn-black {
  background: rgb(122, 122, 122); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, rgba(122, 122, 122, 1)), color-stop(52%, rgba(94, 94, 94, 1)), color-stop(100%, rgba(122, 122, 122, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(122, 122, 122, 1) 52%, rgba(94, 94, 94, 1) 52%, rgba(122, 122, 122, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#7a7a7a', GradientType=0); /* IE6-9 */
  padding: 5px 20px;
  display: inline-block;
  border-radius: 2px;
  margin-bottom: 14px;
  margin-top: 10px;
  color: #fff;
  border: none;
}

.btn-black:hover {
  background: rgb(84, 84, 84); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, rgba(84, 84, 84, 1)), color-stop(53%, rgba(77, 77, 77, 1)), color-stop(100%, rgba(77, 77, 77, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(84, 84, 84, 1) 52%, rgba(77, 77, 77, 1) 53%, rgba(77, 77, 77, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#4d4d4d', GradientType=0); /* IE6-9 */
}

.tb-menu tbody tr td {
  padding: 3px
}

div.rg-box-input {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
}

div.rg-box-input label {
  width: 75px;
  display: inline-block;
}

div.rg-box-input input {
  width: 200px;
  margin: 2px 0;
}

.link {
  color: #f7ba13;
  font-size: 12px;
}
.notification{
  color:red;
}
.manager_form p{
  padding: 10px 0;
}
.manager_form .manager_lb{
  display: inline-block;
  width: 170px;
}

ul.user_profile li {
  margin-bottom: 20px;
}
span.edit {
  font-size: 15px;
  float: right;
  color: blue;
  cursor: pointer;
}
.editing{
  border:1px solid red;
  padding:0 20px;
}