{{> header}}

<div class="rg-box-input">
    <h3>Login Register Meal</h3>

    <p class="notification">{{notification}}</p>

    <form name="login" action="/confirmResetPassword" method="POST">
        <label>New Password:</label>
        <input type="password" id="password" name="password"
               placeholder="New Password"/>
        <br>
        <label>Confirm Password:</label>
        <input type="password" id="confirmPassword"
               name="confirmPassword"
               placeholder="Confirm Passowrd"/>
        <br>
        <input type="hidden" id="keyConfirm" value="{{keyConfirm}}"
               name="keyConfirm">
        <input type="hidden" id="email" value="{{email}}"
               name="email">
        <input type="hidden" id="require" value="changePassword"
               name="require"/>
        <br>
        <button type="submit"
                class="btn-black">Submit
        </button>
    </form>
</div>

{{>footer}}