{{> header}}
<div class="container">
  <div class="col-md-5 col-md-offset-4">
    {{notification}}
    <form class="form-horizontal" name="login" action="/resetPassword" method="get">
      <fieldset>
        <legend>Forgot Password</legend>
        <div class="form-group {{status}} has-error">
          <label for="Email" class="col-lg-2 control-label">Email</label>

          <div class="col-lg-10">
            <input type="text" class="form-control" id="Email" name="email" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <input type="hidden" value="reset" name="require"/>
            <button type="submit" class="btn btn-primary btn-register">Submit</button>
          </div>
        </div>
      </fieldset>
      <p>
        <a href="/forgetPassword">
          <ins>Forgot Password</ins>
        </a>
        <a href="/login">
          <ins>Login</ins>
        </a>
      </p>
    </form>
  </div>
</div>


{{> footer}}