{{> header_login}}
<div class="container">
    <header>
        <div class="logo">
            <figure>
                <img src="images/logo.png">
            </figure>
            <span>Meal Resitration System</span>
        </div>
        <div class="clear-fix"></div>
    </header>

    <div class="content">
        <div class="rg-box-input">
            <h3>Login Register Meal</h3>
          {{error}}
            <form name="login" action="/checkUserLogin" method="POST">
                <label>Email:</label>
                <input type="text" id="Email" name="email"
                       placeholder="Email"/>
                <br>
                <label>Password:</label>
                <input type="password" id="Password" name="password"
                       placeholder="Password"/>
                <br>
                <input type="checkbox" id="checkbox-remember"
                       name="remember"> Remember me
                <br>
                <button type="submit"
                        class="btn-register btn-black">Login
                </button>
            </form>

            <div class="link">
                <a href="#">
                    <ins>Forgot Password</ins>
                </a>,
                <a href="/registerUser">
                    <ins>Register Account</ins>
                </a>
            </div>

        </div>
    </div>
</div>

{{> footer}}