{{> header_login}}
<div class="mem-register">
					<div class="content">
						<div class="rg-box-input">
							<h3>Quick Register</h3>
							{{error}}
							<form name="register" action="/create" method="post">
								<input type="text" id="Email" name="email" placeholder="Email"/>
								<input type="password" id="Password" name="password" placeholder="Password"/>
								<input type="password" id="Confirm" name="confirm" placeholder="Confirm Password"/>
								<input type="submit" value="Register" class="btn-register">
							</form>	
							<div class="clear-fix"></div>
							<div class="link-email">
								<a href="#">Email of DSV company</a>
							</div>
						</div>
					</div>
				</div>
{{> footer}}