<div class="register-meal" id="tabs">
	<div class="header">
		<ul>
			<li><a href="#register_meal" id="viewRegisterMeal">Register Meal</a></li>
			<li><a href="#view_register_meal" id="viewViewMealRegister">View Meal Register</a></li>
		</ul>
	</div>

	<div class="rg-view-meal" id="btn-rg-view-meal">
		<div class="content">
			<div class="find">
				<div class="find-name">
					<div>Name:
						<select>
							<option></option>
							<option>Mr.Hung</option>
							<option>Mr. Cuong</option>
							<option>Mr. Khiem</option>
						</select>
					</div>
				</div>
				<div class="find-from">
					<div>From: <input class="datepicker" type="text"></div>
				</div>
				<div class="find-to">
					<div>To: <input class="datepicker" type="text"></div>
				</div>
			</div>
			<div class="clear-fix"></div>
			<div class="confirm">
				<a href="#register_meal">OK</a>
			</div>
			<div class="clear-fix"></div>
			<div class="table">
				<table class="reference">
					<tbody id="tbodyViewRegisterMeal">
						<tr>
							<th>No</th>
							<th>Date(dd/mm/yy)</th>
							<th>Lunch</th>
							<th>Dinner</th>
						</tr>
						{{#ViewRegisterMeals}}
						<tr class="viewRegisterMealTR">
							<td class=".no_td">1</td>
							<td data-attribute="date">11/11/2013-Mon</td>
							<td data-attribute="lunch">
								{{#if lunch}}
									<input id="checkbox_{{id}}" type="checkbox" disabled checked>
								{{else}}
									<input id="checkbox_{{id}}" type="checkbox" disabled>
								{{/if}}
							</td>
							<td data-attribute="dinner">
								{{#if dinner}}
									<input id="checkbox_{{id}}" type="checkbox" disabled checked>
								{{else}}
									<input id="checkbox_{{id}}" type="checkbox" disabled>
								{{/if}}
							</td>
						</tr>
						{{/ViewRegisterMeals}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>