{{> header}}
        <section class="main">
            <div class="menus">
            
            </div><!-- menu -->
            <div class="suggestion">
                        
            </div><!-- suggestion -->
            <div class="mn-print-menu">  

            </div><!-- mn-print-menu -->
            <div class="mn-create-menu">

            </div><!-- mn-create-menu -->
            <div class="mn-create-dish">       

            </div><!-- mn-create-dish -->
        </section>
    </div>
{{> footer}}