{{> head}}
        <section class="main">
            <div class="menus">
            
            </div><!-- menu -->
            <div class="suggestion">
                        
            </div><!-- suggestion -->
        </section>
    </div>
    <div class="popup_area" style="display: none;">
        <div class="mask_popup"></div>
        <div class="content_popup">
            <div class="wrapper_content_popup">
                <div class="content_detail_popup">
                    <div class="mn-print-menu style_popup-940px">               
                    </div><!-- mn-print-menu -->
                    <div class="mn-create-menu style_popup-940px" style="display: none;">
                    </div><!-- mn-create-menu -->
                    <div class="mn-create-dish style_popup-940px" style="display: none;">                   
                    </div><!-- mn-create-dish -->
                </div>
            </div>
        </div>
    </div>
    <script>
        init();
    </script>
{{> foot}}