	<!--TEMPLATES-->
<script type="text/javascript" src="/linker/lib/js/handlebars.runtime-v1.3.0.js"></script>
<script type="text/javascript" src="/templates.js"></script>
<!--TEMPLATES END-->
	<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/lib/js/backbone-min.js"></script>
<script src="/linker/lib/js/jquery-2.1.0.min.js"></script>
<script src="/linker/lib/js/underscore-min.js"></script>
<script src="/linker/js/backbone.js"></script>
<script src="/linker/js/jquery-bak.js"></script>
<script src="/linker/js/main.js"></script>
<script src="/linker/js/models/menu.js"></script>
<script src="/linker/js/views/view_menu.js"></script>
<!--SCRIPTS END-->
</body>
</html>