<!doctype html>
<html lang="en">
<head>
    <title>Meal</title>
    <link rel="icon" href="static/images/favicon.png" type="image/x-icon">
    <link type="text/css" href="css/ui-lightness/jquery-ui-1.10.4.custom.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery-bak.js"></script>
    <script type="text/javascript" src="js/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/models/menu.js"></script>
    <script type="text/javascript" src="js/views/view_menu.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
</head>
{{> tail}}