<!doctype html>
<html lang="en">
<head>    
    <title>Meal</title>    
    <meta charset="UTF-8">
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/lib/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" href="/linker/styles/style.css">
    <!--STYLES END-->
</head>
{{> tail}}