					<div class="header">
						<span>Deposit</span>
					</div>
					<div class="content">
						<div class="find">
							<div class="find-name">
								<div>Name:
									<select>
										<option></option>
										{{#user}}
										<option>{{firstname}}{{lastname}}</option>
										{{/user}}
									</select>
								</div>
							</div>
							<div class="find-from">
								<div>From: <input class="datepicker" type="text" placeholder="11/11/2013"></div>	
							</div>
							<div class="find-to">
								<div>To: <input class="datepicker" type="text" placeholder="19/11/2013"></div>
							</div>
						</div>
						<div class="clear-fix"></div>
						<div class="confirm">
							<a href="#">OK</a>
						</div>
						<div class="clear-fix"></div>
						<div class="table">
							<table class="reference">
								<thead>
									<tr>
										<th>No</th>
										<th></th>
										<th>Date(dd/mm/yy)</th>
										<th>Name</th>
										<th>Deposit</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{{#deposit}}
									<tr data-id={{id}}></tr>
									{{/deposit}}
								</tbody>
							</table>
						</div>
						<div class="btn-end">
							<a href="#" onclick="show_popup('.ds-new-deposit')">New Deposit</a>
							<a  href="#">Delete Selected</a>
						</div>
						<div class="clear-fix"></div>
					</div>

					
		<!-- </div>
		<div class="popup_area">
		    <div class="mask_popup"></div>
		    <div class="content_popup">
		        <div class="wrapper_content_popup">
		            <div class="content_detail_popup">
						<div class="ds-popup style_popup-940px">
							<figure class="iconsp-cancer-15px close_popup"></figure>
							<div class="name"><input type="text"></div>
							<div class="money">Deposit:<input type="text"> (VND)</div>
							<div class="btn-end">
								<a href="#">OK</a>
								<a  href="#" class="btn-cancel">Cancel</a>
							</div>
						</div>
						<div class="ds-new-deposit style_popup-940px">
							<div class="header">
								<span>New Deposit</span>
							</div>
							<figure class="iconsp-cancer-15px close_popup"></figure>
							<div class="content">
								<div class="new-info">
									<div class="new-date">
										<div>Date: <input class="datepicker" type="text" placeholder="11/11/2013"></div>
									</div>
									<div class="new-name">
										<div>Name: <input type="text" placeholder="Name of member"></div>
									</div>
									<div class="new-deposit">
										<div>Deposit: <input type="text" placeholder="500.000"> (VND)</div>
									</div>	
								</div>
								<div class="btn-end">
									<a  href="#">OK</a>
									<a href="#" class="btn-cancel">Cancel</a>
								</div>
								<div class="clear-fix"></div>
							</div>
						</div>
				   </div>
		        </div>
		    </div>
		</div> -->