
{{#if editor}}
<td>
	{{no}}
</td>
<td>
    <input data-id="{{id}}"type="checkbox">
</td>
<td><input type="text" class="datepicker date" value="{{date}}" data-attribute="date"/></td>
<td><input type="text" value="{{username}}" data-attribute="username"/></td>
<td><input type="text" value="{{amount}}"data-attribute="amount"</td>
{{#if admin}}
<td>
    <figure class="iconsp-save-25px" id="btn-save-deposit"></figure>
</td>
<td>
    <figure class="iconsp-remove-25px" id="btn-remove-deposit"></figure>
</td>
{{/if}}

{{else}}
<td>
	{{no}}
</td>
<td>
    <input data-id="{{id}}" type="checkbox">
</td>
<td data-attribute="date">{{date}}</td>
<td data-attribute="username">{{username}}</td>
<td data-attribute="amount">{{amount}}</td>

{{#if admin}}
<td>
    <figure class="iconsp-edit-25px" id="btn-edit-deposit"></figure>
</td>
<td>
    <figure class="iconsp-remove-25px" id="btn-remove-deposit"></figure>
</td>
{{/if}}
{{/if}}

