<div class="header">
    <span>Create Menu</span>
</div>
<div class="content">
    <div class="confirm">
        <a href="#" id="btn-add">Add</a>
    </div>
    <div class="confirm">
        <a id = "btn-save" href="#">Save</a>
    </div>
    <div class="confirm">
        <a href="#dish_menu">Back</a>
    </div>
    <div class="clear-fix"></div>
    <div class="table">
        <table class="reference">
            <tbody id="create-menu">
                <tr>
                    <th>Date(dd/mm/yy)</th>
                    <th>Brunch</th>
                    <th>Dish1</th>
                    <th>Dish2</th>
                    <th>Dish3</th>
                    <th>Dish4</th>
                    <th>Dish5</th>
                    <th>Note</th>
                </tr>
                <tr id="create_menu_1">
                    <td class="mn-cr-edit">
                        <input class="datepicker date" type="text">
                    </td>
                    <td class="mn-cr-edit">
                        <select class = "brunch">
                            <option>Lunch</option>
                            <option>Dinner</option>
                        </select>
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish1" type="text">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish2" type="text">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish3" type="text">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish4" type="text">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish5" type="text">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "note" type="text">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>