<div class="header">
    <span>Create Menu</span>
</div>
<div class="content">
    <div class="confirm">
        <a href="#menu/create_menu" id="btn-add">Add</a>
    </div>
    <div class="confirm">
        <a id="btn-save" href="#menu">Save</a>
    </div>
    <div class="confirm">
        <a href="#menu">Back</a>
    </div>
    <div class="clear-fix"></div>
    <div class="table">
        <table class="reference">
            <thead>
                <tr>
                    <th>Date(dd/mm/yy)</th>
                    <th>Brunch</th>
                    <th>Dish1</th>
                    <th>Dish2</th>
                    <th>Dish3</th>
                    <th>Dish4</th>
                    <th>Dish5</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody id="create-menu">
                {{#dish_menu}}
                <tr data-cid={{cid}}>
                </tr>
                {{/dish_menu}}
            </tbody>
        </table>
    </div>
    <ul id="list_dish_menu" style="display: none">
        {{#list}}
        <li>{{dish}}</li>
        {{/list}}

    </ul>
</div>