<div class="header">
    <span>Create Menu</span>
</div>
<figure class="iconsp-cancer-15px close_popup"></figure>
<div class="content">
    <div class="confirm">
        <a href="#">Cancel</a>
    </div>
    <div class="confirm">
        <a href="#" id="btn-add">Add</a>
    </div>
    <div class="confirm">
        <a id = "btn-save" href="#">Save</a>
    </div>
    <div class="confirm">
        <a href="#">Print</a>
    </div>
    <div class="clear-fix"></div>
    <div class="table">
        <table class="reference">
            <tbody id="create-menu">
                <tr>
                    <th>Date(dd/mm/yy)</th>
                    <th>Brunch</th>
                    <th>Dish1</th>
                    <th>Dish2</th>
                    <th>Dish3</th>
                    <th>Dish4</th>
                    <th>Dish5</th>
                    <th>Note</th>
                </tr>
                <tr id="create_menu_1">
                    <td class="mn-cr-edit">
                        <input class="datepicker date" type="text">
                    </td>
                    <td class="mn-cr-edit">
                        <select class = "brunch">
                            <option>Lunch</option>
                            <option>Dinner</option>
                        </select>
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish1" type="text" placeholder="Ca phao">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish2" type="text" placeholder="Mam tom">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish3" type="text" placeholder="Canh cua">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish4" type="text" placeholder="Suon chien">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "dish5" type="text" placeholder="Dua hau">
                    </td>
                    <td class="mn-cr-edit">
                        <input class = "note" type="text" placeholder="Mien mon 5">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>