                        <td class="mn-cr-edit">
                            <input class="datepicker date" type="text"  data-attribute="date">
                        </td>
                        <td class="mn-cr-edit">
                            <select class = "brunch" data-attribute="brunch">
                                <option>Select</option>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                        </td>
                        <td class="mn-cr-edit">
                            <input class = "dish" type="text" value="{{dish1}}" data-attribute="dish1"> 
                        </td>
                        <td class="mn-cr-edit">
                            <input class = "dish" type="text" value="{{dish2}}" data-attribute="dish2">
                        </td>
                        <td class="mn-cr-edit">
                            <input class = "dish" type="text" value="{{dish3}}" data-attribute="dish3">
                        </td>
                        <td class="mn-cr-edit">
                            <input class = "dish" type="text" value="{{dish4}}" data-attribute="dish4">
                        </td>
                        <td class="mn-cr-edit">
                            <input class = "dish" type="text" value="{{dish5}}" data-attribute="dish5">
                        </td>
                        <td class="mn-cr-edit">
                            <input class = "note" type="text" value="{{note}}" data-attribute="note">
                        </td>