<figure class="iconsp-cancer-15px close_popup"></figure>
<div class="header">
    <span>Create Dish</span>
</div>
<div class="content">
    <form action="" method="POST" id="create-dish" class="create_form_popup ">
        <label>List Dish</label>
        <select id="list_dish">
            {{#listdish}}
            <option>{{dish}}</option>
            {{/listdish}}
        </select>
        <label>Dish Name</label>
        <input type="text" name="dishname" class="dishname" id="dishname">
        <label>Note</label>
        <textarea name="note"></textarea>
        <div id="btn-save" class="confirm" >
            <a class="submit">Save</a>
        </div>
    </form>
</div>