<div class="header">
    <span>Menu</span>
</div>
<div class="content">
    <div class="find">
        <div class="find-from">
            From:<input class="datepicker" type="text">
        </div>
        <div class="find-to">
            To:<input class="datepicker" type="text">
        </div>
    </div>
    <div class="clear-fix"></div>
    <div id="filter_menu" class="confirm">
        <a href="#">OK</a>
    </div>
    <div class="clear-fix"></div>
    <div class="table">
        <table class="reference">
            <thead>
                <tr>
                    <th data-attribute="date">Date(dd/mm/yy)</th>
                    <th data-attribute="brunch">Brunch</th>
                    <th data-attribute="dish1">Dish1</th>
                    <th data-attribute="dish2">Dish2</th>
                    <th data-attribute="dish3">Dish3</th>
                    <th data-attribute="dish4">Dish4</th>
                    <th data-attribute="dish5">Dish5</th>
                    <th data-attribute="note">Note</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#dish_menu}}
                <tr data-id={{id}}>
                </tr>
                {{/dish_menu}}
            </tbody>
        </table>
        <div id="pagation_menu">
            <span id="menu_prev">Prev</span>
            <!-- <span id="menu_number">a</span> -->
            <select id="menu_number">
                <option>0</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>All</option>
            </select>
            <span id="menu_next">Next</span>
        </div>
    </div>
    <div class="btn-end">
        <a href="#menu/print">Print</a>
        <a href="#menu/create_dish">Create Dish</a>
        <a href="#menu/create_menu">Create Menu</a>
        <a id="add" href="#">Add</a>
    </div>
    <div class="clear-fix"></div>

</div>