<div class="header">
    <span>Menu</span>
</div>
<div class="content">
    <div class="find">
        <div class="find-from">
            <div>From:
                <input class="datepicker" type="text">
            </div>
        </div>
        <div class="find-to">
            <div>To:
                <input class="datepicker" type="text">
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
    <div class="confirm">
        <a href="#">OK</a>
    </div>
    <div class="clear-fix"></div>
    <div class="table">
        <table class="reference">
            <tbody>
                <tr>
                    <th data-attribute="date">Date(dd/mm/yy)</th>
                    <th data-attribute="brunch">Brunch</th>
                    <th data-attribute="dish1">Dish1</th>
                    <th data-attribute="dish2">Dish2</th>
                    <th data-attribute="dish3">Dish3</th>
                    <th data-attribute="dish4">Dish4</th>
                    <th data-attribute="dish5">Dish5</th>
                    <th data-attribute="note">Note</th>
                    <th></th>
                </tr>
                {{#menu}}
                <tr id="menu_{{id}}" data-id="{{id}}">
                    <td data-attribute="date" data-id="{{id}}">{{date}}</td>
                    <td data-attribute="brunch" data-id="{{id}}">{{brunch}}</td>
                    <td data-attribute="dish1" data-id="{{id}}">{{dish1}}</td>
                    <td data-attribute="dish2" data-id="{{id}}">{{dish2}}</td>
                    <td data-attribute="dish3" data-id="{{id}}">{{dish3}}</td>
                    <td data-attribute="dish4" data-id="{{id}}">{{dish4}}</td>
                    <td data-attribute="dish5" data-id="{{id}}">{{dish5}}</td>
                    <td data-attribute="note" data-id="{{id}}">{{note}}</td>
                    <td>
                        <figure class="iconsp-edit-25px" id="edit-menu-{{id}}" data-id="{{id}}"></figure>
                    </td>
                </tr>
                {{/menu}}
            </tbody>
        </table>
    </div>
    <div class="btn-end">
        <a href="#">Back</a>
        <a href="#" onclick="show_popup('.mn-print-menu')">Print</a>
        <a href="#" onclick="createNewDish()">Create Dish</a>
        <a href="#" onclick="show_popup('.mn-create-menu')">Create Menu</a>
    </div>
    <div class="clear-fix"></div>

</div>